body {
  margin: 10px;
  background-image: url("../images/wall.jpg");
}

.container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.barra {
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  height: 20px;
  width: 700px;
}
#my_canvas {
  background: #000000;
  border: #000 1px solid;
}
.boton {
  color: red;
  font-size: 40px;
  background-color: #000000;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid blue;
}
.boton:hover {
  background-color: white;
  color: #000000;
}

.recargar{
  position: absolute;
  margin-left: 300px;
  top: 1100px;
  left: 400;
  
  text-decoration: none;
  border: 1px solid black;
  color: black; 

}

.boton_reset{
  padding: 20px;
  background-color: blueviolet;
  border-radius: 10px;
  color: black;
  margin-bottom: 20px;
}

.div_oculto{
  display:none;
}
